@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@400..700&family=Great+Vibes&family=League+Spartan:wght@100..900&display=swap');

:root {
  /* Colours */
  --primary: #ff4500;
  --primary-light: #de9479;
  --secondary: #138bbb;
  --secondary-light: #87ceeb;
  --support: #012222;
  --dark: #111;
  --light: #fffaf0;
  --grey-extra-light: #eee;
  --grey-light: #ccc;
  --grey-medium: #898989;
  --grey-dark: #555; 
  --grey-extra-dark: #333;

  /* Fonts */
  --main-font: 'League Spartan', sans-serif;
  --heading-font: 'Bebas Neue', sans-serif;
  --logo-font: 'Great Vibes', cursive;
  --features-font: 'Caveat', cursive;
}