@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@400..700&family=Great+Vibes&family=League+Spartan:wght@100..900&display=swap');

:root {
  --dark: #111;
  --light: #fffaf0;
  --grey-xl: #eee;
  --grey-lg: #ccc;
  --grey-md: #888;
  --grey-dk: #333;
}