@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root {
  --main-font: 'Crimson Pro', serif;
  --heading-font: 'Cormorant Garamond', serif;
  --logo-font: 'Cinzel Decorative', serif;

  --light: #fffbea;
  --grey: #adadad;
  --text-dark: #111;
  --text-light: #333;
  --primary-dark: #6b5e3d;
  --primary-light: #e2d2ac;
  --secondary-dark: #35414c;
  --secondary-light: #b5c0c8;
  
  --red-dark: #7a2c2c;
  --red-light: #e6b0aa;
  --blue-dark: #2c3e50;
  --blue-light: #bddae2;
  --green-dark: #456651;
  --green-light: #b9d8c2;
  --yellow-dark: #b38b2f;
  --yellow-light: #fdf3cf;

  --h1-size: 94px;
  --h1-height: 108px;
  --h2-size: 50px;
  --h2-height: 75px;
  --h3-size: 40px;
  --h4-size: 32px;
  --h5-size: 28px;
  --h6-size: 22px;
  --subtitle-size: 17px;
  --subtitle-height: 26px;
  --p-size: 18px;
  --p-height: 26px;
  --secondary-text-size: 14px;
  --secondary-text-height: 18px;
  
  --button-size: 16px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 32px;
  --spacing-sm: 64px;
}

body {
  color: var(--text-light);
  background-color: var(--light);
  font-family: var(--main-font);
  font-weight: 300;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  padding: var(--spacing-sm) 0 0 0;
  /* font-size: 1rem;
  line-height: 1.7; */
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  font-weight: 400;
  font-style: normal;
  color: var(--text-dark);
  margin: 0;
  width: 100%;
}

h1 {
  font-size: var(--h1-size);
  font-weight: 500;
  line-height: var(--h1-height);
  letter-spacing: -1px;
}

h2 {
  font-size: var(--h2-size);
  line-height: var(--h2-height);
  letter-spacing: -0.25px;
}

h3 {
  font-size: var(--h3-size);
}

h4 {
  font-size: var(--h4-size);
  letter-spacing: 0.25px;
}

h5 {
  font-size: var(--h5-size);
}

h6 {
  font-size: var(--h6-size);
}

a {
  text-decoration: none;
  color: var(--primary-dark); 
  transition: color 0.3s ease;
}

a:hover {
  color: var(--yellow-dark);
}

p {
  font-size: var(--p-size);
  line-height: var(--p-height);
  margin: var(--spacing-md) 0;
}

.logo {
  font-family: var(--logo-font);
  font-weight: 700;
  letter-spacing: -0.5px;
  text-transform: uppercase;
  color: var(--primary-dark);
}

